cat << EOF > .gitignore
# Xcode
DerivedData/
build/
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xcuserstate

# Swift Package Manager
.swiftpm
.build/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build

# Fastlane
fastlane/report.xml
fastlane/screenshots
fastlane/test_output

# Archives
*.xcarchive

# Temporary files
*.moved-aside
*.swp
*.lock
*.tmp
*.temp
*.DS_Store

# Secrets
Secrets.xcconfig
*.xcconfig # If you want to ignore all xcconfig by default and only include specific ones
